body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

.password-reset-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #666;
}

input[type=email] {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    height: 30px;
}

button[type=submit] {
    padding: 10px 20px;
    background-color: #4da6ff;
    color: #fff;
    font-size: 14px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #338be3;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

button[type=submit]:hover {
    background-color: #3390ed;
}


  button[type="submit"]:active{
    box-shadow: 0 2px #0d467f;
    transform: translateY(5px);
  }