body{
    background-color: #fff;
    height: 130vh; /* Adjusted height */
    display: flex;
    justify-content: center;
}
.container{
    width: 650px; /* Adjusted width */
    height: 836px; /* Adjusted height */
    position: relative;
    transition-duration: 0.8s;
    perspective: 1500px;
    margin-top: 30px;
}
.cover, .back-cover{
    background-color: #2262b1;;
    width: 100%;
    height: 100%;
    border-radius: 0 25px 25px 0;
    box-shadow: 0 0 5px rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cover{
    position: absolute;
    z-index: 5;
    transform-origin: center left;
    transition: transform 0.8s ease-in-out;
}
.cover label{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.back-cover{
    position: relative;
    z-index: -1;
}
.page{
    background-color: white;
    position: absolute;
    width: 611px; /* Adjusted width */
    height: 793px; /* Adjusted height */
    border-radius: 0 15px 15px 0;
    margin-top: 15px;
    transform-origin: left center;
    transform-style: preserve-3d;
    transform: rotateY(0);
    transition-duration: 1.5s;
    perspective: 1500px;
}

.page img{
    width: 100%;
    height: 100%;
    border-radius:  15px 0 0 15px ;
}
.front-page{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    box-sizing: border-box;
    padding: 1.3rem; /* Adjusted padding */
}
.back-page{
    transform: rotateY(180deg);
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    z-index: 99;
}
.next, .prev{
    
    cursor: pointer;
}
.next{
    right: 1.3rem; /* Adjusted position */
}
.prev{
    left: 1.3rem;
}

#page1 {
    transform: rotateY(0deg); /* Initial state for page 1 */
    z-index: 3; /* Ensure page 1 is initially visible */
}
#page2{
    z-index: 2;
}
#page3{
    z-index: 1;
}


.invisible{
    display: none;
}


#checkbox-cover:checked ~ .container{
    transform: translateX(260px);
}

#checkbox-cover:checked ~ .container .cover{
    transform: rotateY(-180deg);
    transition: transform 1.5s, z-index 0.5s 0.5s ;
    z-index: 1;
}
#checkbox-page1:checked ~ .container #page1{
    transform: rotateY(-180deg);
    z-index: 2;
}
#checkbox-page2:checked ~ .container #page2{
    transform: rotateY(-180deg);
    z-index: 3;
}
#checkbox-page3:checked ~ .container #page3 {
    transform: rotateY(-180deg); /* Flip from page 2 to page 3 */
    z-index: 4; /* Ensure page 3 appears on top */
}
/* #checkbox-page4:checked ~ .container #page2 {
    transform: rotateY(0deg); 
    z-index: 3; 
} */




#checkbox-cover:checked ~ .container .page{
    box-shadow: 0 0 3px rgb(99, 98, 98);
}


.page .form-wrapper label{
    color: #2262b1;
}

.trapezoid{
    position: absolute;
    top: 100px;
    right: -100px;
    border-bottom: 50px solid #2262b1;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
    transform: rotate(90deg); 
	height: 0;
	width: 125px;
}


.trapezoid::before,
.trapezoid::after {
    content: '';
    position: absolute;
    top: -10px; 
    width: 120px; 
    height: 30px; 
    border-radius: 200px; 
    background-color: #2262b1; 
}

.trapezoid::before {
    left: 5px; 
}

.trapezoid::after {
    right: 5px;
}

#cover-img{
    opacity: 0.5;
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}