body {
    font-family: sans-serif;
}

.ResetContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ccc;
    padding: 40px;
    border-radius: 15px;
}

label {
    font-size: 20px;
    margin: 10px 0px;
    font-weight: 500;
}

.input-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
}

.input-container ion-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
    color: #808080;
}

.input-container ion-icon:first-child {
    left: 10px;
}

.input-container ion-icon.eye {
    right: 10px;
    cursor: pointer;
}

.input-container input {
    width: calc(100%-80px);
    height: 100%;
    padding: 0 40px 0 40px; /* Adjust padding to fit icons */
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    font-size: 25px;
    outline: none;
    border: none;
}

button {
    width: 100%;
    margin-top: 20px;
    height: 50px;
    background-color: #2262b1;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
