body{
  overflow-x: hidden;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none;
}



.add-doctor{
  width: 100%;
  background-color: #Fff;
  max-width: 1440px;
  height: fit-content;
  margin-bottom: 40px;
  padding-bottom: 20px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: none;
  z-index: 4;
  position: relative;
}

.add-doctor h1{
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
}
.add-doctor input{
  margin-top: 5px;
  margin-left: 30px;
}
.add-doctor input[type="text"],
.add-doctor input[type="number"],
.add-doctor input[type="date"],
.add-doctor input[type="password"],
.add-doctor input[type="email"]{
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 16px;
  }
.add-doctor select{
  margin-left: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

  form {
      margin: 0;
  }
  .input-row{
      display:flex;
    }
    .input-group{
      display:flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-evenly;
      margin-bottom: 10px;
    }
    .input-group input {
      display: inline-block;
    }
    .input-group input, select {
      /* padding: .3em; */
      width:34vw;
      height: 6vh;
      max-width: 650px;
    }

    input[type="date"]{
      width:34vw;
      height: 6vh;
      max-width: 650px;
    }
    input[type="submit"]{
      padding: .3em;
      width:15vw;
      height: 4vh;
      background-color: #4da6ff;
      color: White;
      font-size: 22px;
      font-weight: 600;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      box-shadow: 0 4px #338be3;
      transition: box-shadow 0.2s ease, transform 0.2s ease;
    }

    input[type="submit"]:active{
      box-shadow: 0 2px #175da3;
      transform: translateY(4px);
    }

    .input-group label{
      margin-left: 30px;
    }
    .top-circle {
      border: none;
      width: 100%; 
      position: absolute;
      z-index: 4;
      background-color: white;
      border-radius: 10px;
      padding-bottom: 10px;
    }
    
    .container .circle {
      position: absolute;
      top: -20px;
      right: -21px;
      width: 60px;
      height: 60px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      border-radius: 50px;
      background: #4da6ff;
      cursor: pointer;
      border: none;
    }

    .container .circle i{
      font-size: 24px;
    }
   .bread-container{
    margin-top: 40px;
    width: 100%;
    background-color: #Fff;
    max-width: 1440px;
    height: fit-content;
    margin-bottom: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    z-index: 4;
    position: relative;
    }

    .breadcrumbs{
      padding: 10px;
    }
    .breadcrumbs-item{
      display: inline-block;
    }

    .breadcrumbs-item:not(:last-of-type)::after{
      content: '/';
      margin: 0px 5px;
      color: #ccc;
    }

    .breadcrumbs-link{
      text-decoration: none;
      color: #999999;
    }
    .breadcrumbs-link:hover{
      text-decoration: underline;
    }
    .breadcrumbs-link.active{
      color: #009578;
      font-weight: 500;
    }

    .main-page{
      z-index: 2;
    }

    .top-sphere {
      position: fixed;
      top: -200px;  
      right: -200px; 
      width: 600px;  
      height: 600px; 
      background-color: #2262b1; 
      border-radius: 50%; 
      z-index: 1; 
  }
  
  .bottom-sphere {
    position: fixed;
    bottom: -200px; 
    left: -200px; 
    width: 600px;  
    height: 600px; 
    background-color: #ff6f61; 
    border-radius: 50%;
    z-index: 1; 
}

.sphere {
  position: fixed;
  border-radius: 50%;
  z-index: 1;

}

.top-left-sphere {
  top: -100px;
  left: -100px;
  width: 500px;
  height: 500px;
  background-color: #ff6f61;
}

.bottom-right-sphere {
  bottom: -100px;
  right: -100px;
  width: 600px;
  height: 600px;
  background-color: #2262b1;
}